@import "tailwindcss";

:root {
  --background: #f6d93b;
  --foreground: #171717;

  --bg-main: #f6d93b;
  --bg-card: #fef3a6;
  --bg-soft: #fff7cf;
  --bg-button: #e0b33a;
  --text-main: #171717;
  --text-soft: #6b6248;
  --border-main: #d7cfbe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Pink theme for Sıla */
body[data-theme="pink"] {
  --background: #fbcfe8;
  --foreground: #171717;

  --bg-main: #fbcfe8;
  --bg-card: #fdf2f8;
  --bg-soft: #fff7fb;
  --bg-button: #f472b6;
  --text-main: #171717;
  --text-soft: #7a4b67;
  --border-main: #e9bfd1;
}

/* Optional blue theme for later */
body[data-theme="blue"] {
  --background: #bfdbfe;
  --foreground: #171717;

  --bg-main: #bfdbfe;
  --bg-card: #eff6ff;
  --bg-soft: #f7fbff;
  --bg-button: #60a5fa;
  --text-main: #171717;
  --text-soft: #4b6480;
  --border-main: #bfd3ea;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}